@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Signika+Negative:wght@300..700&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  /* colors */
  --background-color: #f9f4f0;
  --base-white-color: #ffffff;
  --text-main-color: #413939;
  --text-title-color: #5a3733; 
  --accent-color: #eb6d2f; 
  --link-color: #ffd832; 
  /* fonts */
  font-family: "Open Sans", sans-serif;
  --alt-font: "Signika Negative",  sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}